.form {
    display: grid;
    justify-items: center;
    font-family: sans-serif;
}

.textarea {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin: 20px;
    padding: 10px;
}

.select {
    padding: 8px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
    font-family: sans-serif;
}

.submit {
    padding: 8px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: limegreen;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}